 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* color: #fff; */
     font-family: monospace;
 }

 html,
 body {
     background-color: #111;

     height: 100%;
     width: 100%;
 }

 .page1,
 .page2,
 .page3 {
     height: 100vh;
     width: 100%;
     padding: 5vw 0;

 }

 .move {
     background-color: #D4EC38;
     display: flex;
     padding: 3vw 0;
     overflow: hidden;
 }

 .marque {
     display: flex;
     flex-shrink: 0;
     align-items: center;
     justify-content: center;
     gap: 2.5vw;
     padding: 0 1.5vw;
     transform: translateX(-100%);
 }

 .marque h1 {
     font-size: 4vw
 }

 .marque img {
     height: 4vw;
 }

 