* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #111;
}
.ball-container {
  margin: 120px auto;

  width: 1140px;
  height: 100vh;
  border-radius: 16px;
  gap: 20px;
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
  height: 100%;
  text-align: center;
}

.box-1 {
  height: 300px;
  width: 300px;
  background-color: crimson;
  /* border-radius: 50%; */
  margin-bottom: 20px;
}
.box-2 {
  height: 300px;
  width: 300px;
  background-color: orchid;
  /* border-radius: 50%; */
  /* transform: translateX(840px); */
  margin-bottom: 50px;
}
